* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

/* shared styles */

.container {
  max-width: 1200px;
  padding: 32px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container:nth-child(2n+0) {
  background-color: lightgrey;
}

h1 {
  display: block;
  font-size: 2.2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

/* header styles */

header{
  max-width: 1200px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
  width: auto;
}

li {
  margin-left: 16px;
  display: inline-block;
}

/* banner styles */

.banner {
  width: 60%;
  margin-right: 40px;
  overflow: hidden;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-info {
  width: 40%;
}

.banner-info h1 {
  margin-right: 48px;
}

.button {
  max-width: 100%;
  padding: 8px 0;
  margin-top: 24px;
  text-align: center;
  background-color: grey;
  display: block;
  border-radius: 4px;
  margin-right: 48px;
}

.button a{
  color: white;
}

/* main info section styles */

.media-text {
  width: 60%;
  margin-right: 40px;
  overflow: hidden;
}

.media-text img {
  max-width: 100%;
  height: auto;
  display: block;
}

.media-text span {
  font-size: 0.8rem;
  margin-top: 24px;
  display: block;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  /* border: solid 1px lightgrey; */
  /* margin-right: -24px; */
}

.item:first-child {
  padding-top: 0px;
  border-top: none;
}

.item img {
  max-width: 35%;
  height: auto;
  display: block;
  margin-right: 16px;
}

.info {
  width: 65%;
}

.info p {
  margin: 8px 0px;
}

.info a {
  color: blue
}
