* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, sans-serif;
}

/* shared styles */

.container {
  max-width: 960px;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* header styles */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
  width: auto;
}

li {
  margin-left: 16px;
  display: inline-block;
}
