* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  background-color: grey;
  margin: 0 auto;
}

/* universal styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

.container:nth-child(2n+0) {
  background-color: lightgrey;
}

@media only screen and (max-width: 650px) {
  .container {
    max-width: 650px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .container:nth-child(2n+0) {
    background-color: white;
  }
}

h1 {
  display: block;
  font-size: 2.5em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  display: block;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  display: block;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  color: grey;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  a {
    font-size: 0.8em
  }
}

@media only screen and (min-width: 651px) and (max-width: 830px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  a {
    font-size: 0.8em
  }
}

/* header styles */

header{
  max-width: 1200px;
  margin:0 auto;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  border-bottom: 1px solid #FF8C00;
}

span.bold {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 400;
  color: black;
}

span.light {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 200;
  color: grey;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

li {
  margin-left: 24px;
  display: inline-block;
}

.highlight {
  color: #FF8C00;
}

li a:hover {
  color: #FF8C00;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 650px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

/* banner styles */

.top.container {
  display: flex;
  align-items: center;
}

.banner {
  width: 60%;
  margin-right: 40px;
  overflow: hidden;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner-info {
  width: 40%;
  padding-top: 32px;
  padding-bottom: 48px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.banner-info h1 {
  margin-right: 60px;
}

.banner-info p {
  margin-right: 60px;
  color: black;
}

.button {
  max-width: 100%;
  margin-top: 48px;
  text-align: center;
  background-color: grey;
  display: block;
  border-radius: 4px;
  margin-right: 60px;
  transition: background-color 250ms ease-in;
}

.button:hover {
  background-color: #FF8C00;
}


.button a{
  color: white;
  display: block;
  padding: 8px 0;
  font-size: 1.2em;
}

@media only screen and (max-width: 650px) {
  .top.container {
    padding: 0;
    background-color: lightgrey;
  }
  .banner {
    width: 100%;
    margin: 0;
  }
  .banner-info {
    width: 100%;
    padding: 32px 0px;
  }
  .banner-info h1 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .banner-info p {
    margin-right: 16px;
    margin-left: 16px;
  }
  .button {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 24px;
  }
}

/* main info section styles */

.media-text {
  width: 60%;
  margin-right: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 650px) {
  .media-text.image {
    display: none;
    margin-right: 0;
  }
}

.media-text img {
  max-width: 100%;
  height: auto;
  display: block;
}

.media-text span {
  font-size: 0.8rem;
  margin-top: 24px;
  display: block;
  color: grey;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px 16px 16px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.item:first-child {
  padding-top: 0px;
  border-top: none;
}

.main .item:last-child {
  background-color: lightgrey;
}

.item img {
  max-width: 35%;
  height: auto;
  display: block;
  margin-right: 16px;
}

.item .mobile {
  display: none;
}

.info {
  width: 65%;
}

.info p {
  margin: 8px 0px;
}

.info a {
  color: cornflowerblue;
}

.info a:visited {
  color: #FF8C00;
}

@media only screen and (max-width: 650px) {
  .sidebar {
    width: 100%;
  }
  .item {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .item img {
    max-width: 100%;
    margin-right: 0;
    margin-top: 16px;
  }
  .item .desktop {
    display: none;
  }
  .item .mobile {
    display: block;
  }
  .info {
    width: 100%;
    padding: 0;
  }
  .info h3{
    padding: 16px 16px 8px 16px;
  }
  .info p {
    padding-left: 16px;
    padding-bottom: 16px;
    margin: 0;
  }
  .info a {
    padding-left: 16px;
  }
  .main .item:last-child {
    background-color: white;
  }
}

/* courses section styles */

.container.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.courses {
  padding-left: 24px;
  padding-right: 24px;
}

.row {
  display: flex;
  flex-direction: row;
}

.subject {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin:16px 16px 32px 16px;
  transition: background-color 250ms ease-in;
}

.subject:hover {
  background-color: #FF8C00;
  color: white;
}

.subject img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}

.subject h3 {
  margin-left: 16px;
}

.subject h4 {
  margin: 8px 0 8px 16px;
  color: grey;
}

.subject:hover h4{
  color: white;
}

.subject p {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.subject:hover p{
  color: white;
}

@media only screen and (max-width: 650px) {
  .container.vertical {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .courses {
    padding: 0;
    width: 100%;
  }

  .row {
    display: block;
  }

  .subject {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .subject:hover {
    background-color: white;
  }

  .subject img {
    display: none;
    margin: 0;
  }
  .subject h3 {
    display: block;
    background-color: lightgrey;
    padding: 16px;
    margin: 8px 16px 0 16px;
  }

  .subject h3:active {
    background-color: #FF8C00;
  }
  .subject h4 {
    display: none;
  }
  .subject p {
    display: none;
  }
}

/* thesis exhibit style section  */

.exhibits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
}

.media-text video {
  max-width: 100%;
  height: auto;
  display: block;
}

.exhibits .item:first-child {
  background-color: lightgrey;
  padding-top: 16px;
}

.thesis {
  transition: background-color 250ms ease-in;
}

.exhibits .thesis:hover {
  background-color: #FF8C00;
  color: white;
}

.thesis:hover p {
  color: white;
}

@media only screen and (max-width: 650px) {
  .exhibits {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .media-text {
    width: 100%;
    padding: 0;
    margin: 0;
    }
  .video h2{
    display: none;
    margin: 0;
    padding: 0;
  }

  .video p {
    display: none;
    margin: 0;
    padding: 0;
  }

  .thesis {
    display: none;
  }
}

/* footer styles */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-top: 1px solid lightgrey;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.copyright p {
  font-size: 0.8em;
}

.privacy a {
  color: grey;
  font-size: 0.8em;
  padding-left: 8px;
}

@media only screen and (max-width: 650px) {
  footer {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }

.copyright p{
  padding: 24px 16px;
}

  .privacy {
    display: none;
  }
}
